header{
    background-color: yellowgreen;
    color: white;
    align-items: center;
}

.rede{
    background-color: #fff;
}

.greene{
    background-color: #fff;
}

.bluee{
    background-color: #fff;
}